<section class="header">
  <div class="container header-container">
    <a class="header-logo" href="#" aria-label="main-page-header"
      ><svg class="logo" width="168" height="16">
        <use href="/img/symbol-defs.svg#icon-logo-mob"></use></svg
    ></a>
    <nav class="page-nav">
      <ul class="nav-list">
        <li class="nav-list-item">
          <a href="#how-it-works" class="nav-button">How It Works</a>
        </li>
        <li class="nav-list-item">
          <a href="#vegetables" class="nav-button">Vegetables</a>
        </li>
        <li class="nav-list-item">
          <a href="#reviews" class="nav-button">Reviews</a>
        </li>
        <li class="nav-list-item">
          <a href="#your-order" class="order-button">Shop now</a>
        </li>
      </ul>
    </nav>
    <button
      type="button"
      aria-label="burger_btn_header"
      class="burger js-open-menu"
    >
      <svg class="burger-icon" width="32" height="32">
        <use href="/img/symbol-defs.svg#icon-burgermob"></use>
      </svg>
    </button>
  </div>
</section>
<load src="/partials/mobile_menu.html" />
