<section class="section-works" id="how-it-works">
  <div class="container desk-container">
    <h2 class="visually-hidden">How it works</h2>
    <div class="section-picture">
      <picture class="picture-women">
        <source
          media="(min-width: 1280px)"
          srcset="
            /img/how_it_works/girl-desk-min.webp    1x,
            /img/how_it_works/girl-desk@2x-min.webp 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/how_it_works/girl-tab-min.webp    1x,
            /img/how_it_works/girl-tab@2x-min.webp 2x
          "
        />
        <source
          media="(max-width: 768px)"
          srcset="
            /img/how_it_works/girl-mob-min.webp    1x,
            /img/how_it_works/girl-mob@2x-min.webp 2x
          "
        />
        <img
          src="/img/how_it_works/girl-desk-min.webp"
          alt="woman cutting vegetables in the kitchen"
        />
      </picture>
    </div>

    <div class="instruction">
      <div class="cotainer-instruction">
        <p class="title-instruction">
          To order your <span class="marker">vegetable</span> basket, simply
          follow these <span class="marker">easy steps</span>
        </p>
        <p class="details-instruction">
          Our baskets are assembled with care and delivered straight to your
          doorstep, so you can enjoy the taste of fresh fruit without ever
          leaving your home.
        </p>
        <ol class="nomer-list">
          <li class="list-instruction">
            <span
              >Just choose <span class="marker-black">the vegetable</span> you
              want to order by clicking on the checkboxes
              <span class="marker-black">next to it</span>.</span
            >
          </li>
          <li class="list-instruction">
            <span class="span-list"
              >Click on <span class="marker-black">the basket</span> and fill
              out the form.</span
            >
          </li>
          <li class="list-instruction">
            <span
              >Sit back and relax! Your
              <span class="marker-black">fresh vegetables</span> basket will be
              delivered.</span
            >
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
