<div class="css-menu-container js-menu-container">
  <div class="mobile-menu-overlay"></div>
  <div class="mobile-menu">
    <div class="container mobile-menu-container">
      <button class="btn-menu-close js-close-menu" type="button">
        <svg class="btn-menu-close-icon" width="16" height="16">
          <use href="/img/symbol-defs.svg#icon-close-icon"></use>
        </svg>
      </button>

      <nav class="mobile-menu-nav">
        <ul class="mobile-menu-nav-list">
          <li class="mobile-menu-nav-item">
            <a href="#how-it-works" class="mobile-menu-nav-link current"
              >How It Works</a
            >
          </li>
          <li class="mobile-menu-nav-item">
            <a href="#vegetables" class="mobile-menu-nav-link">Vegetables</a>
          </li>
          <li class="mobile-menu-nav-item">
            <a href="#reviews" class="mobile-menu-nav-link">Reviews</a>
          </li>
        </ul>
      </nav>

      <button class="mobile-menu-btn-shop" type="button">Shop now</button>
    </div>
  </div>
</div>
