<section class="vegetables vegetables-container">
  <div class="container">
    <h2 id="vegetables" class="veg-title">
      organic <span class="new-color">vegetables</span>
    </h2>
    <p class="veg-description">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="veg-list">
      <li class="veg-item">
        <h3 class="veg-item-name">eggplant</h3>
        <p class="veg-item-text">60 USD / kg</p>
        <img
          class="veg-img"
          srcset="
            /img/vegetables/veg-1-mob.webp    1x,
            /img/vegetables/veg-1-mob@2x.webp 2x
          "
          src="/img/vegetables/veg-1-mob.webp"
          alt="eggplant"
          width="280"
        />
      </li>
      <li class="veg-item">
        <h3 class="veg-item-name">leek</h3>
        <p class="veg-item-text">50 USD / kg</p>
        <img
          class="veg-img"
          srcset="
            /img/vegetables/veg-2-mob.webp    1x,
            /img/vegetables/veg-2-mob@2x.webp 2x
          "
          src="/img/vegetables/veg-2-mob.webp"
          alt="leek"
          width="280"
        />
      </li>
      <li class="veg-item">
        <h3 class="veg-item-name">mushrooms</h3>
        <p class="veg-item-text">40 USD / kg</p>
        <img
          class="veg-img"
          srcset="
            /img/vegetables/veg-3-mob.webp    1x,
            /img/vegetables/veg-3-mob@2x.webp 2x
          "
          src="/img/vegetables/veg-3-mob.webp"
          alt="mushrooms"
          width="280"
        />
      </li>
      <li class="veg-item">
        <h3 class="veg-item-name">corn</h3>
        <p class="veg-item-text">60 USD / kg</p>
        <img
          class="veg-img"
          srcset="
            /img/vegetables/veg-4-mob.webp    1x,
            /img/vegetables/veg-4-mob@2x.webp 2x
          "
          src="/img/vegetables/veg-4-mob.webp"
          alt="corn"
          width="280"
        />
      </li>
      <li class="veg-item">
        <h3 class="veg-item-name">sweet potatoes</h3>
        <p class="veg-item-text">50 USD / kg</p>
        <img
          class="veg-img"
          srcset="
            /img/vegetables/veg-5-mob.webp    1x,
            /img/vegetables/veg-5-mob@2x.webp 2x
          "
          src="/img/vegetables/veg-5-mob.webp"
          alt="sweet potatoes"
          width="280"
        />
      </li>
      <li class="veg-item">
        <h3 class="veg-item-name">carrot</h3>
        <p class="veg-item-text">40 USD / kg</p>
        <img
          class="veg-img"
          srcset="
            /img/vegetables/veg-6-mob.webp    1x,
            /img/vegetables/veg-6-mob@2x.webp 2x
          "
          src="/img/vegetables/veg-6-mob.webp"
          alt="carrot"
          width="280"
        />
      </li>
    </ul>
  </div>
</section>
